<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login de RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido" color="primary">


  <div id="container">
    <ion-card>
      <img alt="logo" src="/assets/img/duoc_logo_2.png" width="100%" />
      <ion-card-header>
        <ion-card-title>RegistrAPP</ion-card-title>
        <ion-card-subtitle>Bienvenidos!</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-text color="danger" *ngIf="mensaje">{{ mensaje }}</ion-text>
        <ion-input label="Usuario" [(ngModel)]="user.usuario" (input)="validacion1()" labelPlacement="stacked"
          placeholder="Ingrese usuario" maxlength="8" minlength="3"></ion-input>
        <ion-input label="Password" [(ngModel)]="user.pass" (input)="validacion2()" labelPlacement="stacked"
          placeholder="Ingrese contraseña" type="Password" maxlength="4" minlength="4"></ion-input>
          <div class="ir_recovery">
            <a (click)="recovery()">¿Olvidaste tu contraseña?</a>
          </div>
          <ion-button class="rounded-button" color="tertiary" [disabled]="bloquearBtn()"
          (click)="Ingresar()">Ingresar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
    <ion-text>Derechos reservados de RegistrAPP &#169;</ion-text>
  </ion-toolbar>
</ion-footer>