<ion-header [translucent]="true">
  <ion-toolbar>
    <img alt="logo" class="center" width="60%" src="/assets/img/registrApp logo.png" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido">


  <div id="container">
    <ion-card>

      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
        <ion-card-subtitle>Accede a tu cuenta</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <!-- Campo de Usuario -->
        <mat-form-field class="full-width">
          <mat-label>Nombre de Usuario</mat-label>
          <input matInput [(ngModel)]="usuario.texto" required>
        </mat-form-field>

        <!-- Campo de Contraseña con Alternancia de Visibilidad -->
        <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput [(ngModel)]="password.texto" [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon [ngClass]="{ 'eye-icon': !hide }">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="ir_recovery">
          <a (click)="recovery()">¿Olvidaste tu contraseña?</a>
        </div>

        <button mat-raised-button color="primary" (click)="login()" [disabled]="isLoading">
          <span *ngIf="!isLoading">Ingresar</span>
          <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
        </button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
    <ion-text>Derechos reservados de RegistrAPP &#169;</ion-text>
  </ion-toolbar>
</ion-footer>