<ion-header [translucent]="true">
  <ion-toolbar>
    <img alt="logo" width="60%" src="/assets/img/registrApp logo.png" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img alt="logo" class="center" width="30%" src="/assets/img/duoc_logo_2.svg.png" />
      <ion-card-title>
        Inicio
      </ion-card-title>
      <ion-card-subtitle>
        Bienvenido {{ nombreUsuario }}!
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>