<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido" color="primary">
  <div id="container">

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Ingresa tu email
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input label="Email" labelPlacement="floating" type="email" [(ngModel)]="email"></ion-input>
        <ion-button class="rounded-button" (click)="enviarSolicitud()">Enviar Solicitud</ion-button>
        <div class="ir_login">
          <a (click)="login()">Regresar al login</a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>