<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Ingresa tu nombre de usuario
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input label="Usuario" labelPlacement="floating" [(ngModel)]="nomUsuario.texto"></ion-input>
        <ion-button class="rounded-button" (click)="enviarSolicitud()">Enviar Solicitud</ion-button>
        <div class="ir_login">
          <a href="login()">Regresar al login</a>
        </div>

        <!-- Mostrar el mensaje -->
        <div *ngIf="mensaje" class="mensaje">{{ mensaje }}</div>

        <!-- Aquí agregamos el spinner de Angular Material -->
        <mat-spinner *ngIf="showSpinner"></mat-spinner>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>